@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, textarea, p, blockquote, th, td, header, menu { margin: 0; padding: 0; }
body{font-size: 13px;}
h1, h2, h3, h4, h5, h6 { font-size:1em;font-weight: normal; }
ul{list-style-type: none;}
a,s{text-decoration: none;}
a{
	cursor: pointer;
	border: 1px solid rgb(82, 105, 112);
}
a:hover{
	color:#b30000;
	border-color:rgba(255, 255, 255, 0);
}
body { 
	background: #eee;
	-webkit-text-size-adjust: none;
 	-webkit-user-select: none;
 }
.pen{pointer-events: none;}
.dn{display: none;}
.fh10 { font-size: 10px; line-height: 11px }
.fh11 { font-size: 11px; line-height: 13px }
.fh12 { font-size: 12px; line-height: 14px }
.fh13 { font-size: 13px; line-height: 15px }
.fh14 { font-size: 14px; line-height: 16px }
.fh15 { font-size: 15px; line-height: 17px }
.fh16 { font-size: 16px; line-height: 18px }
.fh18 { font-size: 18px; line-height: 21px }
.fh20 { font-size: 20px; line-height: 23px }
.m0a { margin:0 auto; }
.msa { margin:10px auto;}
.mma { margin:20px auto;}
.mha { margin:40px auto;}
.ms { margin:10px;}
.mm { margin:20px;}
.mh { margin:40px;}
.mts { margin-top:10px;}
.mtm { margin-top:20px;}
.mth { margin-top:40px;}
.mrs { margin-right:10px;}
.mrm { margin-right:20px;}
.mrh { margin-right:40px;}
.mbs { margin-bottom:10px;}
.mbm { margin-bottom:20px;}
.mbh { margin-bottom:40px;}
.mls { margin-left:10px;}
.mlm { margin-left:20px;}
.mlh { margin-left:40px;}
.ps { margin:10px;}
.pm { margin:20px;}
.ph { margin:40px;}
.pts { margin-top:10px;}
.ptm { margin-top:20px;}
.pth { margin-top:40px;}
.prs { margin-right:10px;}
.prm { margin-right:20px;}
.prh { margin-right:40px;}
.pbs { margin-bottom:10px;}
.pbm { margin-bottom:20px;}
.pbh { margin-bottom:40px;}
.pls { margin-left:10px;}
.plm { margin-left:20px;}
.plh { margin-left:40px;}
.ac { text-align:center; }
.ar { text-align:right; }
.wfull{width:100%;}
.w500{width:500px;}
.w300{width:300px;}
.w200{width:200px;}
.w100{width:100px;}
.w50{width:100px;}
.h500{height:500px;}
.h300{height:300px;}
.h200{height:200px;}
.h150{height:150px;}
.h100{height:100px;}
.h50{height:50px;}
